.navigation
 {
    padding-top: 20px;
    padding-right:20px;
    padding-left: 20px;
    padding-bottom:20px ;
    top: 0px;
    position: sticky;
    z-index: 2;
    background-color: white;
}

.nav-bar 
{
   display:flex;
   justify-content: space-between; 
   

}

#gender .gender
{

    padding:40px 30px;
    font-size: 30px;
    
}

.search 
{
    box-sizing: border-box;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
    margin-top: 3px;    
}   
#search:focus  {
    outline: none;
}

#search {
    border: none;
}

.search img {
    padding-top: 5px;
}

.logo
{
    margin-left: 10px;
}

.parent {
    display: flex;
}
.content
{
    padding-top: 30px;
    display:flex;
}

.content .img1 {
    top: 0px;
    position: sticky;
    height: 650px;
    display: flex;
    align-content: center;
    background-color: #EAEAEA; 
    text-align: center;
    width: 900px;
}
.content .img1 #shoe-img{
    margin: auto;
    width:100% ;
    max-width:600px; ;
}
.content h1{
    padding-left: 30px;
    height: 94px;	
    width: 440px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0.58px;
    line-height: 47px;
}   

.content1 p {
    height: 72px;	
    width: 440px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 20px;	
    letter-spacing: 0.27px;	
    line-height: 24px;
    padding-left:30px;
}

.content h3{
        padding-left:20px;
        height: 27px;	
        /* width: 200px;	 */
        color: #000000;
        font-family: "Open Sans";
        font-size: 20px;	
        font-weight:bold;
        letter-spacing: 0.73px;
        line-height: 27px;
    }

    .content1 {
        background-color: #f4f4f4;
    }

    .container
    {
        display: flex;  
    }

    .select-color {

        display:flex;
        border-radius:10px;
        height: 40px;	
        width: 40px;
        border: 1px solid black;
        margin: 0px 10px;
        margin-left: 20px;
        margin-bottom: 20px;
        align-items: center;
    }
    #size {
        padding-left=15px;
    }



    .light-blue {
        height: 40px;	
        width: 20px;
        background-color: #76ACA8;	
        border-radius: 10px 0px 0px 10px;
    }     

    .light-pink {
        height: 40px;	
        width: 20px;	
        background-color: #F6796F;	
        box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
        border-radius: 0px 10px 10px 0px;
    }

    .light-purple {
        height: 40px;	
        width: 20px;	
        background-color: #8076AC;
        border-radius: 10px 0px 0px 10px;
    }

    .light-blue1 {
        height: 40px;	
        width: 20px;
        background-color: #76ACA8;
        border-radius: 0px 10px 10px 0px;
    }

    .black 
    {
        height: 40px;
        width: 20px;	
        background-color: #000000;
        border-radius: 10px 0px 0px 10px;
        
    }

    .size {
        display: flex;
        flex-wrap: wrap;
    }

    .size1 {
    
    padding-left:5px;
    color:#000000;	
    font-family: "Open Sans";
    font-size: 20px;	
    font-weight: bold;	
    letter-spacing: 0.73px;
    line-height: 27px;
    }

    .size1 h3 {
        padding-left:17px;
        height: 27px;	
        /* width: 200px;	 */
        color: #000000;
        font-family: "Open Sans";
        font-size: 22px;	
        font-weight:bold;
        letter-spacing: 0.73px;
        line-height: 27px;
    }

    .button 
    {
        width:80%;
        margin-left:50px;
        background:black;
        color:white;
        border-radius: 10px;
        font-size: 20px;
        padding: 10px;
    }
        
   




